<!--  Inside the partial template, we refer to the
current object by using the variable name that matches the name of the
template. In this case, the partial is named line_item -->
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td><%= line_item.product.title %></td>
	<td>&times;<%= line_item.quantity %></td>
	<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
	<td><%= button_to 'Remove Item', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>